/* [ -------------------- TABLE OF CONTENTS -------------------- ] */

/*
    01 - CSS VARIABLES
    02 - TYPOGRAPHY
    03 - BASIC STYLING
    04 - ONLINE JOURN STYLING
    05 - RADIO STYLING
    06 - VFX STYLING
    07 - MEDIA QUERIES
*/

/* [ -------------------- 01 CSS VARIABLES -------------------- ] */

:root {
    /* PRIMARY COLOURS */
    --primary-1: #4B2543;
    --primary-2: #2E233F;
    --primary-3: #24112A;
    /* BACKGROUND COLOURS */
    --bg-1: #121212;
    --bg-2: #191919;
    /* GRADIENTS */
    --gradient-ltr: linear-gradient(to right, #4b2543 0%, #2e233f 54%, #24112a 100%);
    --gradient-rtl: linear-gradient(to left, #4b2543 0%, #2e233f 54%, #24112a 100%);
    --gradient-bnw: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    --gradient-duo: linear-gradient(to right, #BF2980 -50%, #2e233f 100%);
    /* NEUTRAL COLOURS */
    --white: #FFF;
    --black: #000;
    --grey: #666;
    --grey-light: rgb(167, 167, 167);
    /* TEXT COLOURS */
    --text-light: #FAFAFA;
    --text-dark: #121212;
    /* SHADOWS */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, .3);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, .3);
    --shadow-lg: 0 8px 16px rgba(0, 0, 0, .3);
    /* BORDER RADIUS */
    --br: 5px;
}

/* [ -------------------- 02 TYPOGRAPHY -------------------- ] */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: unset;
    text-transform: uppercase;
    letter-spacing: .2em;
}

h1.condensed, h2.condensed, h3.condensed, h4.condensed, h5.condensed, h6.condensed, {
    letter-spacing: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* THIS STARTS ON XS SCREEN SIZE, SM SIZE AND UP WILL BE IN THE MEDIA QUERY SECTION */

body,
p {
    font-size: 14px;
    /* font-weight: 300; */
    line-height: 1.4;
    margin: 0;
}

/* RESPONSIVE TYPE - XS */

h1 {
	font-size: 1.602em !important;
}
h2 {
	font-size: 1.424em !important;
}
h3 {
	font-size: 1.266em !important;
}
h4 {
	font-size: 1.125em !important;
}
h5 {
	font-size: 0.889em !important;
}
h6 {
	font-size: 0.79em !important;
}


/* [ -------------------- 03 BASIC STYLING -------------------- ] */

/* RENDER FONTS CORRECTLY ON CHROME */

* {
    -webkit-font-smoothing: antialiased;
}

html,
body {
    height: 100%;
}

/* LINKS */

a {
    color: var(--white);
    transition: all 0.4s;
}

a:hover {
    text-decoration: none;
    color: #BF2980;
}

/* SECTION HEADER */

.section-header h2 {
    color: var(--text-light);
    font-size: 32px !important;
    text-transform: uppercase;
    letter-spacing: 14px;
}

/* SECTION BACKGROUND-COLOR ALTERNATE STYLING */

section:nth-child(odd) {
    background-color: var(--bg-1);
}

section:nth-child(even) {
    background-color: var(--bg-2);
}

/* SCROLLBAR STYLING */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: var(--primary-2);
}

::-webkit-scrollbar-thumb {
    background: #bf2980;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-1);
}

/* PROJECTS DESCRIPTION STYLING */

.projects-description {
    background-color: var(--primary-1);
    padding: 16px;
    box-shadow: var(--shadow-md);
    border-radius: var(--br);
    position: relative;
}

.desc-subtitle {
    text-transform: uppercase;
    color: #D8D8D8;
    letter-spacing: 4px;
    font-size: 10px !important;

}

/* STORIES BUTTON */

.stories-btn {
    padding: 10px 40px 14px;
    border: 2px solid #BF2980;
    background-color: transparent;
    box-shadow: 0 10px 20px rgba(191, 41, 128, .3);
    text-transform: uppercase;
    color: #FFF;
    display: block;
    transition: all .4s ease-in-out;
    font-size: 18px;
}

.stories-btn:hover {
    background-color: #BF2980;
    box-shadow: 0 10px 40px rgba(191, 41, 128, .3);
}


/* [ -------------------- 04 ONLINE JOURN STYLING -------------------- ] */

#journalism-works {
    color: #FAFAFA;
    width: 100%;
    height: auto;
    background-image: var(--gradient-duo);    
}

.project-article {
    display: none;
    text-transform: none;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    letter-spacing: normal !important;
}

.project-title h3 {
    font-size: 1.2em !important;
}

.hidden {
    width: 100%;
    height: auto;
    background-image: var(--gradient-duo);    
}

/* Manual Masonry Effect */

.supermum {
    margin-top: -60px !important;
}

.vanity {
    margin-top: -120px !important;
}

.messiah {
    margin-top: -190px !important;
}

.travel-couple {
    margin-top: -230px !important;
}

.bb {
    margin-top: -24px !important;
}

/* [ -------------------- 04 RADIO STYLING -------------------- ] */

#radioworks {
    width: 100%;
    min-height: 100%;
    background-image: var(--gradient-duo);    
}

.swiper-container {
    width: 100%;
    padding-top: 20px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 500px;
    
}

.swiper-slide p {
    color: #FAFAFA;
}

.playbtn {
    width: 400px; 
    height: 95px;
    margin-left: 56px; 
    margin-right: auto; 
    display: block; 
    cursor: pointer;
    position: absolute; 
    z-index: 1;
}

.policyblock {
    width: 450px; 
    height: 55px;
    margin-left: 0px; 
    margin-right: auto;
    margin-top: 150px;
    display: block; 
    cursor: pointer;
    position: absolute; 
    z-index: 1;
}

.radiotitle {
}

/* [ -------------------- 04 VFX STYLING -------------------- ] */

#vfxworks {
    width: 100%;
    height: 1440px;
    background-image: linear-gradient(to left, #4b2543 0%, #2e233f 54%, #24112a 100%);        
}

#vfxworks h4, p {
    color: #FFF;
}

.poster1slot {
	
	background-image: url(../img/VFX/Catherine-thumbnail.png);
	height: 1100px;
    background-size: cover;
    transition: 0.2s;
    background-position: center center;
}

.poster1slot:hover{
	background-image: url(../img/VFX/Catherine-thumbnailhover.png);
    transition: 0.2s;
    background-position: center center;


}

.poster2slot {
	
	background-image: url(../img/VFX/Daniel-thumbnail.png);
	height: 1100px;
    background-size: cover;
    transition: 0.2s;
    background-position: center center;

}

.poster2slot:hover{
	background-image: url(../img/VFX/Daniel-thumbnailhover.png);
	transition: 0.2s;

}

.poster2slot img:hover{
	background-image: url(../img/VFX/Daniel-thumbnailhover.png) !important;
	display: none;
	transition: 0.2s;
}

.poster3slot {
	
	background-image: url(../img/VFX/Marshal-thumbnail.png);
	height: 1100px;
    background-size: cover;
    transition: 0.2s;
    background-position: center center;

}

.poster3slot:hover{
	background-image: url(../img/VFX/Marshal-thumbnailhover.png);
	transition: 0.2s;

}

.poster4slot {
	
	background-image: url(../img/VFX/Satria-thumbnail.png);
	height: 1100px;
    background-size: cover;
    transition: 0.2s;
    background-position: center center;

}

.poster4slot:hover{
	background-image: url(../img/VFX/Satria-thumbnailhover.png);
	transition: 0.2s;

}

.poster5slot {
	
	background-image: url(../img/VFX/poster5.jpeg);
	height: 1100px;
    background-size: cover;
    transition: 0.2s;
    background-position: center center;

}

.poster5slot:hover{
	background-image: url(../img/VFX/poster5hover.png);
	transition: 0.2s;
}

/* [ -------------------- 08 MEDIA QUERIES -------------------- ] */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    /* A. TYPOGRAPHY */

    #about-hero {
        height: 700px;
    }
    #first-card {
        margin-top: 200px;
    }
    #last-card {
        margin-bottom: 100px;
    }

    /* RESPONSIVE TYPOGRAPHY - SM */

    h1 {
	  font-size: 2.441em !important;
	}
	h2 {
		font-size: 1.953em !important;
	}
	h3 {
		font-size: 1.563em !important;
	}
	h4 {
		font-size: 1.25em !important;
	}

}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    /* A. TYPOGRAPHY */

    /* RESPONSIVE TYPOGRAPHY - MD */

    h1 {
	  font-size: 2.441em !important;
	}
	h2 {
		font-size: 1.953em !important;
	}
	h3 {
		font-size: 1.563em !important;
	}
	h4 {
		font-size: 1.25em !important;
	}

}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    /* A. TYPOGRAPHY */
    body,
    p {
        font-size: 15px;
    }

    h1 {
	  font-size: 2.8041em !important;
	}
	h2 {
		font-size: 2.253em !important;
	}
	h3 {
		font-size: 1.963em !important;
	}
	h4 {
		font-size: 1.7em !important;
	}
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* A. TYPOGRAPHY */
    body,
    p {
        font-size: 15px
    }
    
}
